<%= turbo_stream.replace :header_title do %>
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Pools</h2>
<%- end %>

<div class="container mx-auto">

  <div class="px-4 sm:px-6 lg:px-12">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <%= link_to "Back", [:manage, :pools] %>
      </div>

      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
      </div>
    </div>
  </div>

  <div class="mt-8 flex flex-col xl:flex-row px-4 sm:px-6 lg:px-12 gap-8">

    <div class="flex-1">
      <div class="mb-8">
        <%= link_to "Add Disbursement", [:new, :manage, @pool, :disbursement], class: "inline-flex items-center justify-center rounded-md border border-transparent bg-green-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-green-500 focus:ring-offset-2 sm:w-auto" %>

        <table class="min-w-full divide-y divide-gray-300">

          <thead>
            <tr>
              <th scope="col" class="py-8 pl-4 px-3 text-left text-sm font-normal text-gray-500 sm:pl-6">Name</th>
              <th scope="col" class="py-8 px-3 text-left text-sm font-normal text-gray-500">Status</th>
            </tr>
          </thead>

          <tbody class="divide-y divide-gray-200">
            <%- @pool.transaction_records.each do |transaction_record| %>

              <tr>
                <td class="whitespace-nowrap py-8 pl-4 px-3 text-sm font-medium text-gray-900 sm:pl-6">
                  <%= link_to transaction_record.id, '#' %>
                </td>
                <td class="whitespace-nowrap py-8 px-3 text-sm text-gray-900">
                </td>
              </tr>
            <%- end %>
          </tbody>

        </table>
      </div>
    </div>

    <div class="space-y-8 xl:w-96">
      <div class="overflow-hidden bg-white sm:rounded-lg flex-2">
        <div class="p-8">

          <h2>Coordinator</h2>

          <dl class="mt-2 divide-y divide-gray-200 border-t border-b border-gray-200">
            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Full name</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @pool.handler.display_name %></dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
