<div class="space-y-8 divide-y divide-gray-200">

  <div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <%= form.input :full_name, label: false, input: false do %>
          <%= form.label :full_name, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.input_field :full_name, class: input_class(error: form.object.errors[:full_name].present?) %>
          </div>
        <%- end %>
      </div>

      <div class="sm:col-span-6">
        <%= form.input :gender, label: false, input: false do %>
          <%= form.label :gender, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.input_field :gender, collection: Beneficiary.genders, class: input_class(error: form.object.errors[:gender].present?) %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>

  <div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <%= form.input :contact_number, label: false, input: false, wrapper_class: "sm:col-span-3" do %>
        <%= form.label :contact_number, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.input_field :contact_number, class: input_class(error: form.object.errors[:contact_number].present?) %>
        </div>
      <%- end %>

      <%= form.input :email, label: false, input: false, wrapper_class: "sm:col-span-3" do %>
        <%= form.label :email, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.input_field :email, class: input_class(error: form.object.errors[:email].present?) %>
        </div>
      <%- end %>

      <div class="sm:col-span-6">
        <%= form.input :address, label: false, input: false do %>
          <%= form.label :address, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.input_field :address, as: :text, class: input_class(error: form.object.errors[:address].present?), rows: 3 %>
          </div>
        <%- end %>
      </div>
    </div>
  </div>

</div>
