<%= turbo_stream.replace :header_title do %>
  <h2 class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Beneficiaries</h2>
<%- end %>

<div class="container mx-auto">

  <div class="px-4 sm:px-6 lg:px-12">
    <div class="sm:flex sm:items-center">
      <div class="sm:flex-auto">
        <%= link_to "Back", [:manage, :beneficiaries] %>
      </div>

      <div class="mt-4 sm:mt-0 sm:ml-16 sm:flex-none">
        <%= link_to "Edit Beneficiary", [:edit, :manage, @beneficiary], class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>
      </div>
    </div>
  </div>

  <div class="mt-8 flex flex-col xl:flex-row px-4 sm:px-6 lg:px-12 gap-8">

    <div
      data-controller="tabs"
      data-tabs-hidden-class="hidden"
      data-tabs-section-selected-class=""
      data-tabs-section-default-class="hidden"
      data-tabs-tab-selected-class="border-indigo-500 text-indigo-600"
      data-tabs-tab-default-class="border-transparent text-gray-500 hover:text-gray-700 hover:border-gray-200"
      data-tabs-default-value="#overview"
      class="flex-1"
    >

      <div class="mb-8">
        <div class="sm:hidden">
          <label for="tabs" class="sr-only">Select a tab</label>
          <!-- TODO: Wire up with tabs controller to support xs screens -->
          <select id="tabs" name="tabs" class="block w-full rounded-md border-gray-300 py-2 pl-3 pr-10 text-base focus:border-indigo-500 focus:outline-none focus:ring-indigo-500 sm:text-sm">
            <option selected>Overview</option>
            <option>Archive</option>
          </select>
        </div>
        <div class="hidden sm:block">
          <div class="border-b border-gray-200">
            <nav class="-mb-px flex space-x-8" aria-label="Tabs">
              <a href="#overview" data-tabs-target="tab" data-action="click->tabs#select" class="whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm">Overview</a>

              <a href="#archive" data-tabs-target="tab" data-action="click->tabs#select" class="whitespace-nowrap flex py-4 px-1 border-b-2 font-medium text-sm">
                Archive
                <span class="bg-indigo-100 text-indigo-600 hidden ml-3 py-0.5 px-2.5 rounded-full text-xs font-medium md:inline-block">
                  <%= @beneficiary.needs.count %>
                </span>
              </a>
            </nav>
          </div>
        </div>
      </div>

      <section id="overview" data-tabs-target="section" class="overflow-hidden bg-white sm:rounded-lg mb-8">
        <div class="p-8">
          <h2>Overview</h2>
        </div>
      </section>

      <section id="archive" data-tabs-target="section" class="mb-8">
        <%= link_to "New Need", [:new, :manage, @beneficiary, :need], class: "inline-flex items-center justify-center rounded-md border border-transparent bg-indigo-600 px-4 py-2 text-sm font-medium text-white shadow-sm hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2 sm:w-auto" %>

        <ul role="list" class="space-y-2 py-4 sm:space-y-4">
          <%- @beneficiary.needs.each do |need| %>
            <li class="bg-white px-4 py-6 shadow sm:rounded-lg sm:px-6">
              <div class="sm:flex sm:items-baseline sm:justify-between">
                <h3 class="text-base font-medium">
                  <span class="text-gray-900"><%= need.nature %></span>
                  <span class="text-gray-600"><%= need.manager.display_name %></span>
                </h3>
                <p class="mt-1 whitespace-nowrap text-sm text-gray-600 sm:mt-0 sm:ml-3">
                  <%= time_tag need.created_at %>
                </p>
              </div>
              <div class="mt-4 space-y-6 text-sm text-gray-800">
                <%= simple_format need.description %>
                <hr />
                <div class="flex divide-x">
                  <%= link_to "Edit", [:edit, :manage, @beneficiary, need], class: "block pr-6 text-gray-400" %>
                </div>
              </div>
            </li>
          <%- end %>
        </ul>
      </div>
    </section>

    <div class="space-y-8 xl:w-96">
      <div class="overflow-hidden bg-white sm:rounded-lg flex-2">
        <div class="p-8">
          <span class="inline-block h-32 w-32 xl:h-80 xl:w-80 overflow-hidden rounded bg-gray-100">
            <svg class="h-full w-full text-gray-300" fill="currentColor" viewBox="0 0 24 24">
              <path d="M24 20.993V24H0v-2.996A14.977 14.977 0 0112.004 15c4.904 0 9.26 2.354 11.996 5.993zM16.002 8.999a4 4 0 11-8 0 4 4 0 018 0z" />
            </svg>
          </span>

          <dl class="mt-2 divide-y divide-gray-200 border-t border-b border-gray-200">
            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Full name</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @beneficiary.full_name %></dd>
            </div>

            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Gender</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @beneficiary.gender.titleize %></dd>
            </div>

            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Conact number</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @beneficiary.contact_number %></dd>
            </div>

            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Email</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @beneficiary.email %></dd>
            </div>

            <div class="flex justify-between py-3 text-sm font-medium">
              <dt class="text-gray-500">Address</dt>
              <dd class="whitespace-nowrap text-gray-900"><%= @beneficiary.address %></dd>
            </div>
          </dl>
        </div>
      </div>
    </div>
  </div>

</div>
