<div class="space-y-8 divide-y divide-gray-200">

  <div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <div class="sm:col-span-6">
        <%= form.input :title, label: false, input: false do %>
          <%= form.label :title, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.input_field :title, class: "block w-full min-w-0 flex-1 rounded-md border-gray-300 focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
          </div>
        <%- end %>
      </div>

      <div class="sm:col-span-6">
        <%= form.input :description, label: false, input: false do %>
          <%= form.label :description, class: "block text-sm font-medium text-gray-700" %>
          <div class="mt-1">
            <%= form.input_field :description, as: :text, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm", rows: 8 %>
          </div>
          <p class="mt-2 text-sm text-gray-500">Write a few sentences about yourself.</p>
        <%- end %>
      </div>
    </div>
  </div>

  <div>
    <div class="mt-6 grid grid-cols-1 gap-y-6 gap-x-4 sm:grid-cols-6">
      <%= form.input :start_date, label: false, input: false, wrapper_class: "sm:col-span-3" do %>
        <%= form.label :start_date, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.input_field :start_date, as: :date, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
        </div>
      <%- end %>

      <%= form.input :end_date, label: false, input: false, wrapper_class: "sm:col-span-3" do %>
        <%= form.label :end_date, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.input_field :end_date, as: :date, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
        </div>
      <%- end %>

      <%= form.input :funding_goal, label: false, input: false, wrapper_class: "sm:col-span-6" do %>
        <%= form.label :funding_goal, class: "block text-sm font-medium text-gray-700" %>
        <div class="mt-1 flex">
          <%= form.input_field :funding_goal, class: "block w-full rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm" %>
        </div>
      <%- end %>
    </div>
  </div>

</div>
